In [2]:
from src.neos_output_parser import get_variables_from_neos
import pandas as pd

In [3]:
schedule = get_variables_from_neos('results/archiv/neos_outputs/neos_output_2.txt')

In [4]:
data = [(*key, value) for key, value in schedule.items()]

df = pd.DataFrame(data, columns=['nurse_id', 'shift', 'day', 'attendance'])

In [5]:
df.head()

   nurse_id  shift  day  attendance
0         1      1    1           1
1         1      1    2           0
2         1      1    3           1
3         1      1    4           1
4         1      1    5           1

In [10]:
13 % 7

6

In [12]:
# Filtracja weekend√≥w (sobota i niedziela)
weekend_df = df[(df['day'] % 7 == 6) | (df['day'] % 7 == 0)]

# Agregacja liczby zmian w weekendy
weekend_shifts = weekend_df.groupby('nurse_id')['attendance'].sum().reset_index()
weekend_shifts.columns = ['nurse_id', 'num_weekend_shifts']

In [13]:
weekend_shifts.head()

   nurse_id  num_weekend_shifts
0         1                   9
1         2                  10
2         3                   8
3         4                   8
4         5                   8

In [3]:
from src.analysis.input_digester import get_section_data

foes = get_section_data(input_data_path='data/test_instance.csv', section_name='unpreferred_shifts')

In [4]:
for val in foes:
	print(val)

(6, 2, 3)
(5, 9, 2)
(7, 11, 1)
(4, 8, 1)
(13, 21, 3)
(2, 22, 3)
(1, 2, 3)
(8, 22, 2)
(10, 10, 3)
(11, 8, 3)
(12, 18, 3)
(14, 23, 3)
(15, 23, 1)
(3, 21, 1)
(9, 16, 1)